.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grabbing;
}

.container {
    max-width: 1800px;
}


@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 10px;
    }
}
